
*,html{
    margin: 0px ;
    padding: 0px;
    box-sizing: border-box;
}
body, html{
    font-family: sans-serif ;
    width: 100%;
   
}

hr{
    border-width: 2px;
    width: auto;
    height: auto;
    opacity: 0.1;
    border-color: #f3f4f6;
    
}
.icon{
    display: none;
}
.wrapper{
    display: flex;
   
    flex-direction: column;
   justify-content: space-between;
}
.navbar{
    width: 100%;
    height: auto;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
    padding: 1rem;
    
}


.topnav .icon {
    display: none;
  }
.main_nav{
    margin: auto;
    max-width: 1200px;
    justify-content: space-between;
    align-items: center;
    gap: 4px;
    display: flex;
    flex-direction: row;
    /* padding: 5px; */
}
.main_nav a{
    padding-left: 20px;
    font-weight: 500;
    color: #4a5568;
}
.menu a{
    padding-right: 2rem;
}
.loginbtn{
   background-color: #e1e7fd;
   border: 0px;
   color: #626ae9;
   padding: 11px 16px;
   border-radius: 5px;
   font-size: 1rem;
   font-weight: 500;
}
.navbtn{
    display: flex;
    gap: 10px;
}
.noteesbtn{
    background-color: #4f46e5;
   border: 0px;
   color: white;
   padding: 11px 18px;
   border-radius: 5px;
   font-size: 1rem;
   font-weight: 500;
}
.main_section{
    width: 100%;
    height: auto;
    margin-top: 3.7rem;;
    align-items: center;
    flex-direction: column;
    display: flex;
    padding: 10px 10px;
   
}
.sub_section{
    display: flex;
    margin: auto;
    flex-direction: row;
    gap: 5rem;
    max-width: 1080px; 
}
.top_header{
    flex-grow: 3;
    margin-top: 2rem;
    
   
}
.demo_scr{
    max-width: 100%;
    margin: auto;
    flex: 2;
    height: 500px;
    padding:0px 50px;
    box-shadow: 4px 4px 6px 4px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
    border-radius: 10px;
}
.demo p{
    text-align: center;
    color: #6b7280;
}
.action{
    color: #626ae9 !important;
    font-size: 36px;
}
.top_header h1{
    font-size: 36px;
    line-height: 3.5rem;
   
}
.top_header p{
    color: #4d5562;
    font-size: 18px; 
    text-align: start;
    line-height: 1.8rem;
    letter-spacing: 0.1px;
}
.voiceAi{
    background-image: linear-gradient(to right, #ff00ac , yellow);
    color: transparent;
    background-clip: text;
    font-weight: 600;
    font-size: 24px;
}
.time{
    text-align: center;
    font-size: 32px;
}
.recordbtn{
    align-items: center;
    display: flex;
    justify-content: center;
    gap:1rem;
    padding: 2rem 3rem;
}
.optionbtn{
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}
.optionbtn button{
    background-color: #e1e7fd;
    color: white;
    border-radius: 5px;
    font-size: 1rem;
    font-weight: 500;
    border: 0px;
    padding: 8px 16px ;
    
}
.repeat{
    border-radius: 38px;
    border: none;
    background-color: #e1e7fd;
    color: white;
    padding: 18px; 
    
}
.microphone{
    border-radius: 42px;
    border: none;
    background-color: #e1e7fd;
    color: white;
    padding: 30px ;
    background-image: linear-gradient(to right, #ff00ac , #a100ff);
}

.times{
    border-radius: 38px;
    border: none;
    background-color: #e1e7fd;
    color: white;
    padding: 18px 
}
.play{
    border-radius: 28px;
    border: none;
    background-color: #e1e7fd;
    color: white;
    padding: 18px ;
    margin: auto;
    justify-content: center;
    display: flex;
    margin-bottom: 2rem;
}
.note{
    width: 100%;
}
.note button{
    width: 500px;
    background-image: linear-gradient(324deg,#a000ff,#ff006f);
    border-radius: 5px;
    padding: 16px 0px;
    margin-top: 15px;
    border: none;
    color: white;
    font-size: 18px;
    font-weight: bold;
}
.fa-repeat {
    font-size: 30px;
}
.fa-microphone{
    font-size: 20px;
}
.fa-times{
    font-size: 30px;
}
.fa-play{
    font-size: 25px;
}
.checked {
    color: orange;
  }
.img_slider{
    margin-top: 4rem;
    opacity: 0.7;
}
/* ///////////////// */
.details_sec{
    margin-bottom: 5rem;
    text-align: center;
    /* margin: auto; */
    flex-direction: row;
    gap: 5rem;
    max-width: 1080px; 

}
.details_sec span i{
    
    align-items: center;
    width: 100%;
    margin-top: 3rem;
    margin-left: auto;
    margin-right:auto ;
}
.fa-chevron-down{
    font-size: 40px;
    color: #c7c8c9;
}
.work{
    display: flex;
    flex-direction: column;
    align-items: center;
    
}
.work h1{
    margin: 4rem 0rem 4rem 0rem;
   color:#4b5563;
   font-weight: 500;
   font-size: 30px;
}
.details_card{
    display: flex;
    flex-direction: row; 
    gap: 7rem;      
}
.details_card h3{
    color: #818cf8; text-align: start; font-size: 24px;
}
.details_card p{
    text-align: start;
    line-height: 22px
}
.video{
    width: 100%;
    margin: auto;
    flex: 1;
    padding: 20px;
    box-shadow: 4px 4px 6px 4px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
}
.video video{
    width: 100%;
}
.record_voice{
    width: 390px
}
.note2btn{
    margin-top: 2rem;
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;
    width: 300px ;
   
}
.note2btn button{ 
    width: 300px;
   
    background-image: linear-gradient(324deg,#a000ff,#ff006f);
    border-radius: 5px;
    padding: 10px 0px;
    margin-top: 15px;
    border: none;
    color: white;
    box-shadow: 0px 1px 10px 1px #ff006f;
    font-weight: 600;
    font-size: 20px;
}
/* ///////// */
.use_cases{
    max-width: 1024px;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 48px ;
    margin-top: 2rem;
    

}
.cards{
    display:grid;
    grid-template-columns: auto auto auto;
    

}
.card{
padding: 20px;
  font-size: 30px;
  text-align: center;
  box-shadow: 1px 0px 6px 0px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
  gap: 5rem;
  border-radius: 7px;
  margin: 15px;
}
.card p{
    font-size: 14px;
    font-weight: 400;
    text-align: start;
    color: #6b7280;
    line-height: 20px;

}
.card h3{
    font-size: 18px;
    text-align: start;
}
.card h3 i{
    color: #626ae9;
margin-right: 3px;
}
.demo_video{
    margin: auto;
    margin-top: 5rem;
}
.video_demo video{
    width: 100%;
}

.heading h1{
text-align: center;
color: #4b5563;
font-weight: 500;

}
.heading p{
    text-align: center;
    margin: 0px 15px;
    line-height: 25px;
    letter-spacing: 0.5px;
}
.heading span{
    color: #9ca3af;
    font-size: 12px;
}

.review{
    max-width: 1200px;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 40px;
    margin-top: 4rem;
}
.review_card{
    width: 500px;
    height: 200px;
    font-size: 30px;
    text-align: center;
    box-shadow: 1px 0px 6px 0px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
    border-radius: 7px;
    flex: 1;
    position: relative;
}
.review_card p{
    font-size: 14px;
    font-weight: 400;
    text-align: start;
    color: #6b7280;
    padding: 0px 10px;
    letter-spacing: 0.5px;
}
.review_card h6{
    text-align: start;
    margin: 0px ;
    padding: 10px;
}
.rating{
    display: flex;
    font-size: 12px;
    padding: 0px 10px;
    margin-top: 44px 
   
}
.rating2{
    display: flex;
    font-size: 12px;
    padding: 0px 10px;
    margin-top: 58px 
}
.quote_icon i{
    position: absolute;
    left: -18px;
    top: -22px;
    color: #626ae9;
}
.pricing{
   align-items: center; 
   flex-direction: column;
   margin-top: 4rem 
}
.pricing h2{
    margin-bottom: 2rem;
    text-align: center;
    font-size: 30px;
    color: #4b5563;
    font-weight: 500;
}
.note{
    font-size: 36px;
    font-weight: 500;
}
.timer p{
    text-align: center; 
    font-weight: bold; 
    font-size: 18px;
}
.discount{
    color: #4f46e5;
    font-weight: bold;
    font-size: 18px;
    text-align: center;

}
.price_box{
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 3px 8px #0000003d;
    display: flex;
    gap: 4px;
    max-width: 100%;
    padding: 30px;
    margin: 15px 0px;

}
.off_box{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    /* border-right: 2px solid #9ca3af;
    padding-left: 20px;
    padding-right: 40px; */
}
.price_text{
    display: flex;
    flex-direction: row;
    font-weight: 600;
    justify-content: center;
    position: relative;
    justify-content: center;
   
   

}
.price_box_content p{
    color: black;
    font-weight: 600;
    margin-bottom: 5px;
}
.dis_price{
    font-size: 3.5rem;
    font-weight: bold;
    text-align: center;
}
.old_price{
    position: absolute;
    font-size: 23px;
    text-decoration: line-through;
    right: 51px;
    color: #9ca3af;
}
.price_box_content{
    display: flex;
    flex-direction: column;
    line-height: 30px;
    color: #9ca3af;
    /* padding-left: 40px; */
}
.price_box_content i{
    color: #c084fc;
    padding-right: 5px;

}
.note2btn_price button{
    width: 300px;
    background-image: linear-gradient(324deg,#a000ff,#ff006f);
    border-radius: 5px;
    padding: 10px 0px;
    border: none;
    color: white;
    box-shadow: 0px 1px 10px 1px #ff006f;
    font-weight: 600;
    font-size: 20px;
}
.note2btn_price p{
    text-align: center;
    color: #9ca3af;
    font-weight: 100;
    font-size: 12px;
}
.note2btn_price i{
    padding-right: 5px;
}
.happy_user{
    display: flex;
    justify-content: center;
}
.faq_element{
    background: #fff;
    box-shadow: 0 3px 8px #0000003d;
    border-radius: 8px;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    gap: 0;
    padding: 20px;
    position: relative;
    width: 100%;
    opacity: 1;
    color: #4b5563;
    margin-bottom: 2rem;
    
}
.down_icon i{
    position: absolute;
    right: 9px;
    top: 13px;
    font-size: 20px;
}
.faq{
    margin-top: 64px;
}
.faq h2{
    margin-bottom: 2rem;
    text-align: center;
    font-size: 30px;
    color: #4b5563;
    font-weight: 500;
}
.faq_element h4{
    margin: 0px;
}
.faq_element p{
    font-size: 14px;
    font-weight: 300;
    overflow: hidden;
}
.note_box{
    max-width: 900px;
    overflow: hidden;
    background-color: #4f46e5;
    color: #a5b4fc;
    margin-top: 8rem;
    border-radius: 10px;
    display: flex;
    gap: 4px;
    padding: 10px;
}
.sub_note_box{
    display: flex;
    flex-direction: column;
    padding: 2rem;

}
.sub_note_box p{
    font-size: 16px;
    font-weight: 400;
    line-height: 23px;
    
}
.sub_note_box button{
    background-color: #db2777;
    color: white;
    border: none;
    border-radius: 6px;
    padding: 13px;
    cursor: pointer;
    font-size: 18px;
}
.detail_text{
    width: 390px
}
.footer{
    /* align-items: flex-start; */
    flex-direction: row;
    display: flex;
    background-color: #111827;
    padding: 48px ;
    justify-content: space-between;
    align-items: center; 
    margin-top: 48px;
    opacity: 1;
    text-align: center;
    color: #4b5563;
    overflow: hidden;
}
.footer_menu{
    display: flex;
    gap: 9rem;
    height: 100%; 
    color: #4b5563;
    overflow: hidden;
}
.social_media{
    display: flex;
    /* gap: 32px  */
    justify-content: space-around;
    margin-top: 1.5rem;
}
.social_media i{
    font-size: 20px;
}
.links{
    display: flex;
    flex-direction: column;
    line-height: 25px;  
    text-align: start;
}

.learn_more{
    display: flex;
    flex-direction: column;
    line-height: 25px;
    text-align: start;

}
.footer_menu p{
    color: white;
    font-size: 16px;
    text-transform: uppercase;
}
.footer_menu a{
    font-size: 14px;
    padding-bottom: 10px;
}
.contact{
    display: flex;
    flex-direction: column;
    line-height: 20px;
    text-align: start;
 
}
.contact p{
    font-size: 12px;
}
.contact h3{
    color: white;
    font-size: 16px;
    text-transform: uppercase;
}
.legal a{
    font-size: 12px;

}
.legal{
    display: flex;
    flex-direction: column;
}
.mobile_only{
    display: none;
}
/* @media only screen 
    and (width: 375px) 
    and (height: 667px) 
    and (-webkit-device-pixel-ratio: 2) {
    .navbar a:not(:first-child) {display: none;}
    .navbar a.icon {
      float: right;
      display: block;
    }
    .main_section{
       
        padding: 0px 70px;
    }
    .logo img{
        width: 100px !important;
    }
    .cards{
        display: block;
    }
    .video_demo{
        width: 300px !important;
    }
    .sub_section{
        display: flex;
        flex-direction: column;
        padding: 0px 20px;
    }
    .top_header h1{
        font-size: 30px;
        line-height: 1.5;
        padding-right: 88px;
    }
    .action{
        font-size: 30px;
        line-height: 1.5;
    }
    .details_card{
        display: flex;
        flex-direction: column-reverse;
    }
    .review{
        display: flex;
        flex-direction: column;
    }
    .demo_video{
        width: 100%;
    }
    .demo_scr{
        padding: 40px;
    max-width: 230px;
    height: 500px;
    }
    .img_slider{
        display: flex;
    flex-wrap: wrap;
    justify-content: center;
    }
    .img_slider img{
        width: 100px;
    }
    .menu{
        top: 8rem;
    position: absolute;
    left: 107px;
    
    background: white;
    width: 100%;
  }
  .note button{
    width: 100% !important;
   }
   .details_sec{
    padding: 0px 42px;
   }
   .video{
    width: auto;
   }
   .record_voice{
    width: 300px;
   }
   .record_voice h3{
     text-align: center;
   }
   .record_voice p{
    text-align: center;
   }

}

  
  
  @media screen and (max-width: 600px) {
    .navbar.responsive {position: relative;}
    .topnnavbarav.responsive .icon {
      position: absolute;
      right: 0;
      top: 0;
    }
    .navbar.responsive a {
      float: none;
      display: block;
      text-align: left;
    }
    
    .main_section{
        display: block;
    }
    .video_demo video{
        width: 400px !important;
    }
    .price_box{
        display: block;
    }
    .note_box img{
        display: none;
    }
    .footer{
        display: flex;
        flex-direction: column;
    }
  } */
  .hamburger{
    display:none;
}
  @media only screen 
    and (width: 390px) 
    and (height: 844px) 
    and (-webkit-device-pixel-ratio: 3)  { 
        .navbar a:not(:first-child), .navbtn {
            display: none;
          }
          .navbar a.icon {
            float: right;
            display: block;
          }
          .navbar.responsive {position: relative;}
          .navbar.responsive .icon {
            position: absolute;
            right: 0;
            top: 0;
          }
          .navbar.responsive a {
            float: none;
            display: block;
            text-align: left;
            padding-bottom: 31px;
            font-size: 25px;
            margin-top: 20px;
            
          }
          .icon{
            padding-right: 18px;
          }
          /* .menu a{
            margin-top: 35px;
          } */
          
        .main-nav{
            display:grid;
        }
        .main-nav li a{
            float:right;
        }
        .navbar{
            height: auto;
        }
        .main-nav{
            height: auto;
            display: block;
        }
        .menu{
            width: 100%;
           display: block
        }
          
          
    .main_section{
       margin-top: 2rem;
       padding: 0px 7vw;
    }
    .logo img{
        width: 100px !important;
    }
    .top_header{
        margin: 0px;
    }
    .top_header img{
        width: 250px;
    }
    .top_header h1{
        font-size: 30px;
        line-height: 1.5;
        /* padding-right: 88px; */
    }
    .top_header p{
        padding-right: 1rem;
    }
    .demo_scr{
        padding: 13px;
        max-width: 320px;
        height: 500px;
        }
    .demo{
        padding-top: 15px;
    }
    .time{
        padding: 50px 0px 0px;
    }
    .sub_section{
        display: flex;
        flex-direction: column;
    }
    
    .cards{
        display: block;
    }
    .action{
        font-size: 30px;
        line-height: 1.5;
    }
    .details_card{
        display: flex; 
        align-items: center;
        flex-direction: column-reverse;
        justify-content: center;
        gap: 32px;
        text-align: right;
    }
    .card h3{
        padding-bottom: 8px;
    }
    .review{
    display: flex;
    flex-direction: column;
    }
    .review_card{
        width: 100%;
        padding: 20px;
    }
    .rating{
        margin: 0px;
    }
    .price_box{
        display: flex;
    flex-direction: column;
    }
    .note_box img{
        display: none;
    }
    .demo_video{
    width: 100%;
    }
    
    .img_slider{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    }
    .img_slider img{
     width: 100px;
    }
    .menu{
     top: 7rem;
     position: absolute;
     left: 0px;
     background: white;
     /* width: 100%; */
     /* height: 500px; */
   }
  .note button{
    width: 100% !important;
   }
   /* .details_sec{
    padding: 0px 42px;
   } */
   
   .record_voice h3{
     text-align: center;
   }
   .record_voice p{
    text-align: center;
   
    }
    .footer_menu{
        display: flex;
        flex-direction: column;
        gap: 3rem;
    }
    .links{
        text-align: center;
    }
    .learn_more{
        text-align: center; 
    }
    .contact{
        text-align: center; 
    }
    .video{
        padding: 0px;
    }
    .detail_text{
        width: 100%;
    }
    .record_voice{
        width: 100%;
    }
}